<html>
<head>
</head>
<body>
    <br>
    <main id="content" class="main-content" role="main">
      <footer class="site-footer">
          <div align=center>
        		<a href="https://www.linkedin.com/in/jaideep-singh-bankoti-a276b7104/"><img src="assets/img/linkedIn.png" alt="" width="40px"></a>&emsp;
        		<a href="https://www.facebook.com/jaideep.bankoti.37"><img src="assets/img/fb.png" alt="" width="40px"></a>&emsp;
        		<a href="https://join.skype.com/invite/VA3g4834zedx"><img src="assets/img/skype.png" alt="" width="40px"></a>&emsp;
        		<a href="https://www.instagram.com/jaideepbankoti/"><img src="assets/img/instagram.png" alt="" width="40px"></a>
          </div>  
    </footer>
    </main>
</body>
</html>
