<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
/*background-image: linear-gradient(120deg, #993333, #ff6666);*/
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #660033;
}
</style>
</head>
<body>
<ul>
    <a href="/index" class="navbar-brand">
    <img src="/assets/img/logbox2.png" alt="" width="70px">
</a>
    <li><a href="/about">About</a></li>
    <li><a href="/Watch">Watch</a></li>
    <li><a href="/blogs">Blogs</a></li>
    <li><a class="active" href="/index.html">Home</a></li>
</ul>

</body>
</html>

