<html>
<head>
	<meta charset="UTF-8">
	<title>{{ page.title}}</title>
	<!--<link rel="stylesheet" href="/assets/css/styles.css">-->
</head>
<body>
	{% include navigation.html %}
	{% include header.html %}
    <main id="content" class="main-content" role="main">
      {{content}}
    </main>
	{% if page.title == "Hello there!"%}
	<div align=center>
	<img src="https://jaideepbankoti.github.io/logbox/assets/img/JDprofr.png" alt="" width="70px">
	</div>
	{% endif %}
    {% include footer.html %}
</body>
</html>
